@model Education_Admins.ViewModels.CourseViewModel

@section styles{
<link rel="stylesheet" href="~/css/object-detail-page.css">
<link rel="stylesheet" href="~/css/delete-object-page.css">
}

<article class="detail">
  <h1 class="page-title">@Model!.Title</h1>
  <img src="@Model.ImageUrl" alt="@Model.Title">
  <section class="description">
    <h2>@Model.Description</h2>
    <p>@Model.Details</p>
    <hr>
    <p>Course number: @Model.CourseNumber</p>
    <p>Duration: @Model.Duration hours</p>
    <p>Category: @Model.CategoryName</p>
    <p>Teacher: @Model.TeacherId </p>
    <div class="card-footer text-center">
      <a asp-action="edit" asp-controller="Course" asp-route-id="@Model.CourseId" class="btn btn-primary btn-update">Edit</a>

      <form class="delete-form" asp-action="Delete" asp-route-id="@Model!.CourseId" method="post">
        <button type="submit" class="btn btn-primary btn-delete">Delete</button>
      </form>
      
    </div>
    <a class="go-back" asp-action="Index"><i class="fa-solid fa-left-long"></i>Back to courses</a>
  </section>
</article>