@model Education_Admins.ViewModels.EditCourseViewModel
@* @inject Education_Admins.ViewModels.CreateCourseViewModel createCourseViewModel *@

@{
  ViewBag.Title = "Edit Course";
}

<h1 class="page-title">Update Course</h1>
<section class="form-container">
  <h4>Course information</h4>
  <form class="form" asp-action="Edit" method="post">
    <div class=" form-control">
      <input asp-for="@Model!.Id" input type="hidden" />
    </div>
    <div class=" form-control">
      <label asp-for="@Model!.Title"></label>
      <input asp-for="@Model!.Title" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Duration"></label>
      <input asp-for="@Model!.Duration" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Description"></label>
      <input asp-for="@Model!.Description" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Details"></label>
      <input asp-for="@Model!.Details" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.CategoryName"></label>
      <input asp-for="@Model!.CategoryName" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.ImageUrl"></label>
      <input asp-for="@Model!.ImageUrl" />
    </div>
    </div>
    <div class="form-control">
      <label asp-for="@Model!.TeacherId"></label>
      @* <select asp-for="@Model!.TeacherId"> *@

        @* <select asp-for="TeacherId" asp-items="@(new SelectList(Model.TeacherList, "TeacherId", "FirstName"))>
          <option value="">Select teacher</option>
        </select> *@

        <select asp-for="TeacherId" asp-items="@(new SelectList(Model.TeacherList, "TeacherId", "FirstName"))" class="add-job custom-select">
                <option value="">Tilføj jobfunktion</option>
            </select>


        @* @for(int i = 0; i < Model!.TeacherList!.Count; i++)
          {
          if (Model.TeacherList[i].FirstName == Model.TeacherList)
          <option value="@Model.TeacherList[i]" selected>@Model.TeacherList</option>
          } *@
        @* @foreach (var item in Model.TeacherList!)
          {
          <option value="@item.TeacherId">Id: @item.TeacherId @item.FirstName @item.LastName</option>
          } *@
      @* </select> *@
    </div>
    <button type="submit" class="btn btn-primary btn-update">Update</button>
    <a asp-controller="course" asp-action="index" class="btn btn-primary btn-cancel">Cancel</a>
  </form>
</section>

@section Scripts {
<script type="text/javascript">

  function getOption() {
    selectElement = document.querySelector('#selectTeacherFromList');
    output = selectElement.options[selectElement.selectedIndex].value;
    document.querySelector('.output').textContent = output;
  }
</script>
}