@model IEnumerable<Education_Admins.ViewModels.CourseViewModel>

@section styles{
<link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewBag.Title = "Courses";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div id="viewByCategory">

    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('asp.netcore')"> ASP.NET Core</button>
    <button class="btn" onclick="filterSelection('sql')"> SQL</button>
    <button class="btn" onclick="filterSelection('.net')"> .NET</button>
    <button class="btn" onclick="filterSelection('javascript')"> JavaScript</button>
    <button class="btn" onclick="filterSelection('python')"> Python</button>
    <button class="btn" onclick="filterSelection('java')"> Java</button>
    <button class="btn" onclick="filterSelection('html')"> HTML</button>
    <button class="btn" onclick="filterSelection('css')"> CSS</button>
    <button class="btn" onclick="filterSelection('typescript')"> TypeScript</button>
    <button class="btn" onclick="filterSelection('react')"> React</button>
</div>
<br>
<div class="container">
    <div class="filterDiv asp.netcore">ASP.NET Core</div>
    <div class="filterDiv sql">SQL</div>
    <div class="filterDiv .net">.NET</div>
    <div class="filterDiv javascript">JavaScript</div>
    <div class="filterDiv python">Python</div>
    <div class="filterDiv java">Java</div>
    <div class="filterDiv html">HTML</div>
    <div class="filterDiv css">CSS</div>
    <div class="filterDiv typescript">TypeScript</div>
    <div class="filterDiv react">React</div>
</div>


<article>
    <section class="gallery-wrapper">
        <button class="addBtn"><a class="objectBtn" asp-controller="Course" asp-action="Create">
                <h1 class="addLabel">Add new course</h1>
            </a></button>
        @foreach (var course in Model!)
        {
            <div class="gallery-card container">
                <h4>@course.Title</h4>
                <a href="#">
                    <img src="@course.ImageUrl" alt="@course.Title" courseId="@course.CourseId" width="200" height="250">
                </a>

                <div class="card-footer text-center">
                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId"
                    class="btn btn-primary m-1">View</a>
                    <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId"
                    class="btn btn-primary m-1">Edit</a>
                    <a asp-controller="Course" asp-action="GetCourseToDelete" asp-route-id="@course.CourseId"
                    class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </section>
</article>

<div class="modal hidden">
    <button class="close-modal">&times;</button>
    <div class="modal-container"></div>
</div>
<div class="overlay hidden"></div>

@section scripts{
<script src="~/js/gallery-page.js"></script>
}