@model IEnumerable<Education_Admins.ViewModels.CourseViewModel>

@section styles{
    <link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewData["Title"] = "Our Courses";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">        
        @foreach (var course in Model!)
        {
            <div class="gallery-card">
                <h4>@course.Title</h4>                
                <a href="#">
                    <img src="@course.ImageUrl" alt="@course.Title" courseId="@course.CourseId" width="200">
                </a>
                <p>@course.Description</p>
                <p>@course.Duration Hours</p>
                <p>Course Id: @course.CourseId</p>
            </div>
        }
    </section>
</article>

<div class="modal hidden">
    <button class="close-modal">&times;</button>
    <div class="modal-container"></div>
</div>
<div class="overlay hidden"></div>

@section scripts{
    <script src="~/js/gallery-page.js"></script>
}