@model IEnumerable<Education_Platform.ViewModels.CourseViewModel>

@{
    ViewData["Title"] = "Our courses";
}

<h1>@ViewData["Title"]</h1>

<section>
    @foreach (var course in Model!)
    {
        <div>
            <h4>@course.Title</h4>
            @* <a asp-controller="Course" asp-action="Details">@course.Title</a> *@
            <img src="@course.ImageUrl" alt="@course.Title">
            <p>@course.CourseNumber</p>
        </div>
    }
</section>
