@model List<Education_Platform.ViewModels.CourseViewModel>

@{
    ViewData["Title"] = "Our courses";
}

<h1>@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">
        @foreach (var course in Model!)
        {
        <div class="gallery-card">
            <h4>@course.Title</h4>
            @* <a asp-controller="Course" asp-action="Details">@course.Title</a> *@
            <a href="#">
                <img src="@course.ImageUrl" alt="@course.Title" width="400">
            </a>
            <p>Course: @course.CourseNumber</p>
        </div>
        }
    </section>
</article>

