@model Education_Admins.ViewModels.TeacherViewModel

@section styles{
<link rel="stylesheet" href="~/css/object-detail-page.css">
}

<article class="detail">
  <h1 class="page-title">@Model!.FirstName @Model!.LastName</h1>
  <section class="description">
    <div>Competencies: @Model.Competences</div>
    <p>Street address: @Model.StreetAddress</p>
    <p>Postal code: @Model.PostalCode</p>
    <p>City: @Model.City</p>
    <p>Country: @Model.Country</p>
    <hr>
    <h4>Contact</h4>
    <p>@Model.Email</p>
    <p>@Model.PhoneNumber</p>
    <div class="card-footer text-center">
      <a asp-action="Edit" asp-controller="Teacher" asp-route-id="@Model.TeacherId"
        class="btn btn-primary btn-update">Edit</a>

      @*Lägg till att Delete confirmation visas *@
      <form class="delete-form" asp-action="Delete" asp-route-id="@Model!.TeacherId" method="post">
        <button type="submit" class="btn btn-primary btn-detail-delete">Delete</button>
      </form>
    </div>
    <a class="go-back" asp-action="Index"><i class="fa-solid fa-left-long"></i>Back to teachers</a>
  </section>
</article>