@model Education_Admins.ViewModels.TeacherViewModel

@section styles{
  <link rel="stylesheet" href="~/css/object-detail-page.css">
}

<article class="detail">
  <h1 class="page-title">@Model!.FirstName @Model!.LastName</h1>
  <section class="description">
    <div>Competencies: @Model.Competences</div>
    <p>Street address: @Model.StreetAddress</p>
    <p>Postal code: @Model.PostalCode</p>
    <p>City: @Model.City</p>
    <p>Country: @Model.Country</p>
    <hr>
    <h4>Contact</h4>
    <p>@Model.Email</p>
    <p>@Model.PhoneNumber</p>
    <a class="go-back" asp-action="Index"><i class="fa-solid fa-left-long"></i>Back to teachers</a>
  </section>
</article>