@model IEnumerable<Education_Admins.ViewModels.TeacherViewModel>

@section styles{
<link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewData["Title"] = "Teachers";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">
        <button class="addBtn"><a class="objectBtn" asp-controller="Teacher" asp-action="Create">
                <h1 class="addLabel">Add new teacher</h1>
            </a></button>
        @foreach (var teacher in Model!)
        {
            <div class="gallery-card container">
                <h4>@teacher.FirstName @teacher.LastName</h4>
                <a href="#">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    alt="@teacher.FirstName" teacherId="@teacher.TeacherId" width="200">

                </a>

                <div class="card-footer text-center">
                    <a asp-controller="Teacher" asp-action="Details" asp-route-id="@teacher.TeacherId"
                    class="btn btn-primary m-1">View</a>
                    <a asp-controller="Teacher" asp-action="Edit" asp-route-id="@teacher.TeacherId"
                    class="btn btn-primary m-1">Edit</a>
                    <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@teacher.TeacherId"
                    class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </section>
</article>

<div class="modal hidden">
    <button class="close-modal">&times;</button>
    <div class="modal-container"></div>
</div>
<div class="overlay hidden"></div>

@section scripts{
<script src="~/js/teacher-page.js"></script>
}